div.grilleItem {
  border: solid black 1px;
  background-color: #FFFFFF;
  font-size:1em;
  font-family: Verdana;
  width:100px;
  height: 50px;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  xjustify-content: space-around;
}

div.grilleItem input {
  width:60px;
  flex-wrap: nowrap;
  vertical-align:center;
  font-color:blue;
}

div.grilleItemChord {
  width:48%;

}
