.app{
  font-family: 'Roboto', sans-serif;
  margin : 2px;
  .app_content{
    padding: 2% 7%;
  }

  .navbar{
    background: linear-gradient(to bottom, #1b598a 1%, #326299 100%);
    border-radius: none;
    border:none;
    .navbar-brand{
      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}
