div.partition {
  font-family: monospace;
  font-size:medium;
}

div.lineMedium {
  line-height:2.1em;
}
div.lineSimple {
  line-height:1.4em;
}

span.chord {
    display: inline-block;
    position: relative;
    top: -1.1em;
    width: 0;
    /*right: 10px;*/
    word-break: keep-all;
    white-space: nowrap;
}
